@model CRMCore.Objects.ObjTask
@using CRMCore.Enums;
@using CRMCore.Helpers;
@{
    IEnumerable<SelectListItem> statuses = null;
    if (ViewBag.Statuses != null)
    {
        var statusList = (ViewBag.Statuses as List<CRMCore.Objects.ObjStatus>);
        statuses = statusList.Select(x => new SelectListItem()
        {
            Value = x.Id.ToString(),
            Text = x.Name,
        });
    }

    IEnumerable<SelectListItem> Currencys = EnumHelper.GetLocalizedValues<CurrencyType>().Select(x => new SelectListItem()
    {
        Value = x.Value.ToString(),
        Text = x.DisplayName
    });

    IEnumerable<SelectListItem> DateTypes = EnumHelper.GetLocalizedValues<DateTypes>().Select(x => new SelectListItem()
    {
        Value = x.Value.ToString(),
        Text = x.DisplayName
    });

    IEnumerable<SelectListItem> TaskTypes = null;
    if (ViewBag.TaskTypes != null)
    {
        var tasksTypes = (ViewBag.TaskTypes as List<CRMCore.Objects.ObjTaskType>);

        TaskTypes = tasksTypes.Select(x => new SelectListItem()
        {
            Value = x.Id.ToString(),
            Text = x.Name
        });
    }

    IEnumerable<SelectListItem> SelectListManagers = null;
    if (ViewBag.Managers != null)
    {
        var managers = (ViewBag.Managers as List<CRMCore.Objects.ObjUser>);
        SelectListManagers = managers.Select(x => new SelectListItem()
        {
            Value = x.Id.ToString(),
            Text = x.Fio
        });
    }
}
<div class="ibox float-e-margins" id="EntityInformation">
    <div class="ibox-title">
        <h5>Основные</h5>
        <div class="ibox-tools">
            <a class="btn btn-primary btn-xs" style="display:none">
                <i class="fa fa-save"></i> Сохранить
            </a>
            <a class="btn btn-primary btn-default btn-xs" style="display:none">
                <i class="fa fa-chevron-right"></i>
            </a>
            <a class="btn btn-primary btn-xs ">
                <i class="fa fa-pencil"></i> Редактировать
            </a>
            <a class="btn btn-primary btn-danger btn-xs">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <form method="post" class="form-horizontal" asp-action="EditTask" id="EntityForm">
            <input type="hidden" value="@Model.Id" asp-for="Id" />
            <div class="form-group">
                <label class="col-lg-3 control-label">Привязан</label>
                <div class="col-lg-9">
                    <a class="project-list-rootname" href="@Model.RootUrl">
                        @Model.RootName
                    </a>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">Название</label>
                <div class="col-lg-9">
                    <input type="text" disabled="disabled" class="form-control" asp-for="Title" value="@Model.Title" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-6 control-label">Тип задачи</label>
                <div class="col-sm-5 col-xs-6">
                    <select asp-for="TaskTypeId" class="form-control m-b" asp-items="TaskTypes" disabled="disabled"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Описание</label>
                <div class="col-lg-9">
                    <textarea class="form-control" asp-for="Description" disabled="disabled"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Статус</label>
                <div class="col-xs-3">
                    <select asp-for="StatusId" class="form-control m-b" asp-items="statuses" disabled="disabled"></select>
                </div>
                <label class="col-xs-3 control-label">Завершен на</label>
                <div class="col-xs-2 input-group m-b">
                    <input type="number" disabled="disabled" class="form-control" asp-for="CompeteProcent" value="@Model.CompeteProcent" />
                    <span class="input-group-addon">%</span>
                </div>
            </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-6 control-label">Дата выполнения</label>
                <div class="col-sm-5 col-xs-6">
                    <input type="date" class="form-control" asp-for="DeadLine" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-6 control-label">Менеджер</label>
                <div class="col-sm-5 col-xs-6">
                    <select asp-for="UserId" class="form-control m-b" asp-items="SelectListManagers" disabled="disabled">
                        <option value="null">Никого</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
@{Html.RenderPartial("_DeleteEntity", new CRMDeveloper.Models.DeleteModel { Id = Model.Id, RootType = CRMCore.Enums.RootTypes.Task });}

