@using Microsoft.AspNetCore.Authentication.Cookies;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    int id =Convert.ToInt32(@HttpContextAccessor.HttpContext.Request.Cookies.First(x => x.Key == "Id").Value);
    string Name = @HttpContextAccessor.HttpContext.Request.Cookies.First(x => x.Key == "Name").Value;
    string Position = @HttpContextAccessor.HttpContext.Request.Cookies.First(x => x.Key == "Position").Value;

}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="/Users/Avatar/@id" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@Name</strong>
                            </span> <span class="text-muted text-xs block">@Position<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Details", "Users", new { id = id})">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    SG
                </div>
            </li>
            <li>
                <a href="@Url.Action("Index","Users")"><i class="fa fa-users"></i><span class="nav-label">Сотрудники</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index", "PotentialClients")"><i class="fa fa-comment-o"></i><span class="nav-label">Лиды</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","Clients")"><i class="fa fa-bar-chart-o"></i><span class="nav-label">Клиенты</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","Projects")"><i class="fa fa-tasks"></i><span class="nav-label">Проекты</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","Tasks")"><i class="fa fa-tasks"></i><span class="nav-label">Задачи</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Finance")"><i class="fa fa-ruble"></i><span class="nav-label">Финансы</span></a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-gears"></i><span class="nav-label">Настройки<span class="fa arrow"></span></span>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="@Url.Action("Roles","Configurations")">Роли</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Statuses","Configurations")">Статусы</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CustomOptions","Configurations")">Настраиваемые списки</a>
                        </li>
                        <li>
                            <a href="@Url.Action("PTasks","Configurations")">Задачи</a>
                        </li>
                        <li>
                            <a href="@Url.Action("FSubTypes","Configurations")">Подтипы расходов</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ProjectTypes","Configurations")">Типы проектов</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Sources","Configurations")">Источники</a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
</nav>