@model List<CRMCore.Objects.ObjFinance>
@using CRMCore.Enums;
@using CRMCore.Helpers;
@{
    ViewData["Title"] = "Финансы";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Финансы</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/Home">Главная</a>
            </li>
            <li class="active">
                <a href="/Finance"><strong>Финансы</strong></a>
            </li>
        </ol>
    </div>
</div>

<div class="row m-t">
    <div class="col-sm-4">
        <div class="btn-group">
            <a class="btn btn-primary" href="@Url.Action("FinanceAdd","Projects")">
                <i class="fa fa-plus-square"></i>
                Добавить
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2">
        @*<form action="/potentialgame/index" method="get" class="row">
                <div class="col-sm-5">

                </div>
                <div class="col-sm-7 input-group ">
                    <input type="text" placeholder="Введите текст для поиска" class="form-control" value="" name="q">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"> Поиск</button>
                    </span>
                </div>
            </form>*@
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="ibox float-e-margins">
            @foreach (var finance in Model)
            {
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="sg-list-title-div">
                                @switch (finance.FinanceType)
                                {
                                    case FinanceTypes.Receipt:
                                        <span class="label label-primary">@EnumHelper.DisplayName(finance.FinanceType)</span>

                                        break;
                                    case FinanceTypes.Expence:
                                        <span class="label label-danger">@EnumHelper.DisplayName(finance.FinanceType) (@finance.SubTypeName)</span>
                                        break;
                                }
                                <a class="sg-list-title" href="@Url.Action("Details","Clients",new { id = finance.ProjectId })">@finance.ProjectName</a>
                                <div class="sg-list-title-descr">
                                    <small>Куда : </small> @EnumHelper.DisplayName(finance.Place)
                                </div>
                                @if (finance.FinanceType == FinanceTypes.Expence)
                                {
                                <div class="sg-list-title-descr">
                                    <small>Кому : </small> <a href="@Url.Action("Details","Users", new { id = finance.UserId })">@finance.UserName</a>
                                </div>
                                }


                            </div>
                        </div>
                        <div class="col-md-3 text-right">
                            <b>@DecimalHelper.DoPrice(finance.Cost)</b> <span>@EnumHelper.DisplayName(finance.Currency)</span> / 
                            <span>@finance.Date.ToShortDateString()</span>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

